/* 
Paleta de colores 
Violeta: #a22ed0
Celeste: #3698DB
Naranja: #ee8d48
*/


/*---------------------------------------------------------------------------------------------------------*/
/* ELEMENTOS GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gil Sans Ultra Bold", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

h1 {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

ol {
    list-style: none;
}

/*---------------------------------------------------------------------------------------------------------*/
/* PROMOCION */

.promo {
    /*hacer animacion de derecha a izquierda y en loop*/
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
}

/*---------------------------------------------------------------------------------------------------------*/
/*LOGO TITULO CARRITO*/
.header {
    background: rgb(28, 63, 84);
    background: linear-gradient(135deg, rgba(28, 63, 84, 1) 0%, rgba(28, 63, 84, 1) 70.6%, rgba(186, 89, 180, 1)70.9%, rgba(45, 16, 36, 1) 71.85%, rgba(45, 16, 36, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 2vw 0px 2vw;
}

.header img {
    margin-top: 1vh;
    max-width: 10vh;
    width: calc(4vh+4vw);
    cursor: pointer;
}

.header h1 {
    color: white;
    -webkit-text-stroke: 0.2vh #ee8d48;
    font-size: calc(3vw + 2em);
    cursor: pointer;
}

.header a {
    color: #fb1bf8;
    text-decoration: none;
}

.carro-mob {
    display: none;
}

@media(hover:hover) {
    .header a:hover {
        color: #a22ed0;
    }
}

/*AJUSTAR VALORES DE FONDO O AcOMODAR IMAGEN*/
@media screen and (width<=600px) {
    .header {
        background: linear-gradient(135deg, rgba(28, 63, 84, 1) 0%, rgba(28, 63, 84, 1) 73.6%, rgba(186, 89, 180, 1)73.6%, rgba(45, 16, 36, 1) 74.5%, rgba(45, 16, 36, 1) 100%);
    }

    .header h1 {
        font-size: 1em;
    }

    .header img {
        width: 4vh;
    }

    /*REMOVER CLASS fa-2xl*/
    .carro-mob {
        display: contents;
    }

    .carro-2xl {
        display: none;
    }
}

/*---------------------------------------------------------------------------------------------------------*/
/* NAVEGACION */
/*
AJUSTAR FONDO DE NAVEGACION PARA MOBILE, 
*/
.nav-desktop {
    font-size: calc(1vh + 1vw);
    background: rgb(28, 63, 84);
    background: linear-gradient(135deg, rgba(28, 63, 84, 1) 0%, rgba(28, 63, 84, 1) 67.45%, rgba(186, 89, 180, 1)67.45%, rgba(45, 16, 36, 1) 68.25%, rgba(45, 16, 36, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-desktop li a {
    color: white;
    text-decoration: none;
    padding: 0px 2vh 0px 5vh;
}

@media(hover:hover) {
    .nav-desktop li a:hover {
        -webkit-text-stroke: 0.1vh #ee8d48;
    }
}

.nav-mobile {
    background-color: #3698DB;
    display: flex;
    bottom: 0;
    width: 100vw;
    position: fixed;
    height: 8vh;
    align-items: center;
    justify-content: space-around;
    visibility: hidden;
}

.nav-mobile li a img {
    color: white;
    text-decoration: none;
    max-width: 10vw;

}

@media screen and (width<=600px) {
    .nav-mobile {
        visibility: visible;
    }

    .nav-desktop {
        display: none;
    }

    .ir_arriba_fixed {
        visibility: hidden;
    }
}

/*---------------------------------------------------------------------------------------------------------*/
/* SLIDER */
.slider {
    background: #eee;
}

.slider img {
    width: 99.9vw;
}


/*---------------------------------------------------------------------------------------------------------*/
/* PRODUCTOS */
#Ofertas {
    background: #eee;
}

#Destacados {
    background: #eee;
}

.subtitulos {
    background: #eee;
    color: black;
    -webkit-text-stroke: 0.2vh #48f1ff;
    font-size: 4em;
    text-align: center;
    padding: 10vw 0vw 2vw 0;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.productos-card {
    background-color: #ddd;
    margin: 10px;
    flex: 1 1 200px;
    box-sizing: border-box;
    text-align: center;
}

.productos-card img {
    max-height: 20vh;
}

/*---------------------------------------------------------------------------------------------------------*/
/* TARJETAS Y ENVIOS */
.tarjetas {
    margin: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjetas li {
    width: 100vh;
    height: 200px;
    margin: 0vh 3vh 0vh 3vh;
    text-align: center;
}

.tarjetas li img {
    max-width: 15vw;
    width: calc(6vw+3vh);
}


.tarjetas li h4 {
    margin-top: 1vw;
    margin-bottom: 0.5vw;
}


/*---------------------------------------------------------------------------------------------------------*/
/* MAPA */
.map {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
    padding-top: 100px;
    flex-wrap: wrap;
    background-color: #eee;

}

.map-sucursal {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.map-iframe {
    width: 50vw;
}

.tienda-card li {
    background-color: #ddd;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    text-align: initial;
}

@media screen and (width <=800px) {
    .map-iframe {
        width: 75vw;
    }
}

/*---------------------------------------------------------------------------------------------------------*/
/* FOOTER */

footer {
    padding: 12vh 0vh 12vh 0vh;
    background-color: lightslategray;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer-icon {
    flex-direction: column;
}

.footer-icon img {
    justify-content: center;
}

.footer-social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-social li a {
    padding: 20px 0px 0px 0px;
}

.footer-social li a i {
    padding: 20px;
}

.footer-social-ml {
    display: inline;
    padding: 10px;
}





/*---------------------------------------------------------------------------------------------------------*/
/*HOME FIXED*/
.ir_arriba_fixed {
    /*lo ponemos abajo a la derecha*/
    position: fixed;
    bottom: 0;
    right: 0;
    /*margenes*/
    margin-bottom: 5vh;
    margin-right: 5vh;
    opacity: 0.7;
}

@media (hover:hover) {
    .ir_arriba_fixed:hover {
        opacity: 1;
    }
}

.ir_arriba_fixed a img {
    /*tamaño img*/
    max-width: 7vh;
}