/* 
Paleta de colores 
Violeta: #a22ed0
Naranja: #ee8d48
*/


/*---------------------------------------------------------------------------------------------------------*/
/* ELEMENTOS GENERALES */
* {
    margin: 0;
    padding: 0;
    font-family: 'Cascadia Code', monospace, sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

h1 {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

ol {
    list-style: none;
}


/*---------------------------------------------------------------------------------------------------------*/
/*LOGO TITULO CARRITO*/
body>header {
    width: 100%;
    position: absolute;
    border: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 2vw 0px 2vw;
    z-index: 1;
}

.header img {
    max-width: 10vh;
    width: calc(4vh+4vw);
    cursor: pointer;
}

.header h1 {
    color: white;
    -webkit-text-stroke: 0.2vh #ee8d48;
    font-size: calc(1vw + 2em);
    cursor: pointer;
}

.header a {
    color: #fb1bf8;
    text-decoration: none;
}

.carro-mob {
    display: none;
}

@media(hover:hover) {
    .header a:hover {
        color: #a22ed0;
    }
}

/*---------------------------------------------------------------------------------------------------------*/
/* PROMOCION */

.promo {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}

.promo h5 {
    animation: slidein 10s linear infinite;
}

@keyframes slidein {

    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(-100vw);
    }
}

/*---------------------------------------------------------------------------------------------------------*/
/* NAVEGACION */

.nav-desktop {
    font-size: calc(2em - 1vw);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 99;
}

.nav-desktop li a {
    color: white;
    text-decoration: none;
    padding: 0px 2vh 0px 5vh;
}

@media(hover:hover) {
    .nav-desktop li a:hover {
        -webkit-text-stroke: 0.1vh #ee8d48;
    }
}

.nav-mobile {
    background-color: rgba(162, 46, 208, 1);
    display: flex;
    bottom: 0;
    width: 100vw;
    position: fixed;
    height: 8vh;
    align-items: center;
    justify-content: space-around;
    visibility: hidden;
}

.nav-mobile li a {
    padding: 4.5vh 15px;
}

.nav-mobile li a img {
    color: white;
    text-decoration: none;
    max-width: 10vw;
}

/*---------------------------------------------------------------------------------------------------------*/
/*BUSQUEDA*/

.busqueda-main {
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: rgba(162, 46, 208, 1) 1px solid;
    background-color: rgba(162, 46, 208, 0.4);
    color: white;
}


.busqueda-main input {
    padding: 1.3vw 2vw;
    border-radius: 15px 15px 15px;
    background-color: transparent;
    font-size: 1.2rem;
    border-color: transparent;
    color: white;
}

.busqueda-main a img {
    border-radius: 2px 15px 15px 2px;
}

.busqueda-mob {
    display: none;
}

@media (hover:hover) {

    .busqueda-main input:focus {
        border-color: transparent;
    }
}

:focus-visible {
    outline: none;
}


/*---------------------------------------------------------------------------------------------------------*/
/* SLIDER */
.slider {
    background: black;
    position: relative;
    z-index: -1;
    display: flex;
    border: none;
}

.slider img {
    max-width: 100%;
}


/*---------------------------------------------------------------------------------------------------------*/
/* PRODUCTOS */
#Ofertas {
    background: #eee;
}

#Destacados {
    background: #eee;
}

.subtitulos {
    background: #eee;
    color: black;
    -webkit-text-stroke: 0.1vh #a22ed0;
    font-weight: bold;
    font-style: italic;
    font-size: 4em;
    text-align: center;
    padding: 10vw 0vw 2vw 0;
    border-color: black;

}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 30px;
}


.productos-card {
    box-shadow: 5px 8px 5px 3px rgba(0, 0, 0, 0.6);
    position: relative;
    padding-bottom: 6vh;
    max-width: 300px;
    /* flex: 0.5 1 50px;*/
    flex-grow: 0.5;
    flex-shrink: 1;
    flex-basis: 200px;
    flex-flow: row;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    background-color: #ddd;
}

.productos-card img {
    max-width: 80%;
    height: 130px;
    max-height: 22vh;
    margin: 20px 0px 0px 0px;
}

.productos-nombre {
    font-weight: bold;
    font-size: 1rem;
    max-height: 50px;
    margin-bottom: 5px;
}

.productos-descuento {
    display: flex;
    justify-content: center;
    gap: 1vw;
    align-items: center;
}

.productos-descuento h5 {
    margin: 8px 0px;
    text-decoration: line-through;
    color: grey;
}

.productos-descuento h6 {
    position: absolute;
    left: 0;
    top: 0px;
    font-size: 14px;
    font-weight: 700;
    background-color: #01be00;
    box-shadow: 4px 7px 4px 3px rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    margin: 7px 0px;
    padding: 4px 5px;
    transform: rotate(-3deg);
}

.hot h6 {
    color: white;
    background-color: red;
}

.productos-descuento p {
    font-size: 20px;
    font-weight: bold;
}

.productos-cuotas {
    color: grey;
}


.productos-boton,
.productos-btn {
    display: inline-block;
    border: none;
    outline: none;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 0.5rem;
    color: white;
    background-color: black;
    cursor: pointer;
}

@media (hover:hover) {

    .productos li:hover {
        transform: scale(1.025);
        transition: all ease 0.6s;
    }

    .productos-img img:hover {
        cursor: pointer;
    }



    .productos-nombre a:hover {
        color: #a22ed0;
        transition: all ease 0.4s;
    }

    .productos-boton:hover,
    .productos-btn:hover {
        background-color: rgba(162, 46, 208, 1);
        border-color: black;
    }
}

/*---------------------------------------------------------------------------------------------------------*/
/* TARJETAS Y ENVIOS */
.tarjetas {
    margin: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjetas li {
    width: 100vh;
    height: 200px;
    margin: 0vh 3vh 0vh 3vh;
    text-align: center;
}

.tarjetas li img {
    max-width: 15vw;
    width: calc(6vw+3vh);
}


.tarjetas li h4 {
    margin-top: 1vw;
    margin-bottom: 0.5vw;
}




/*---------------------------------------------------------------------------------------------------------*/
/* MAPA */
.map {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
    padding-top: 100px;
    flex-wrap: wrap;
    background-color: #eee;

}

.map-sucursal {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.map-iframe {
    width: 50vw;
}

.tienda-card li {
    background-color: #ddd;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    text-align: initial;
}




/*---------------------------------------------------------------------------------------------------------*/
/* FOOTER */

footer {
    padding: 12vh 0vh 12vh 0vh;
    background-color: lightslategray;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer-icon {
    flex-direction: column;
}

.footer-icon img {
    justify-content: center;
}

.footer-social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-social h4 {
    margin-bottom: 30px;
}

.footer-social li {
    display: grid;
    grid-template-rows: 1fr 20px 1fr;
    grid-template-columns: 20px 20px 20px;
}

.footer-social li a {
    gap: 40px;
    display: flex;
}

.footer-social li a i,
.footer-social li a img {
    grid-row: 1/2;
    grid-column: 1/2;
}

.footer-social li a h6 {
    grid-row: 3/4;
    margin: 0;
    padding: 0;
    align-items: center;
}

.footer-pago img {
    margin-top: 40px;
}



/*---------------------------------------------------------------------------------------------------------*/
/*HOME FIXED*/
.ir_arriba_fixed {
    /*lo ponemos abajo a la derecha*/
    position: fixed;
    bottom: 0;
    right: 0;
    /*margenes*/
    margin-bottom: 5vh;
    margin-right: 5vh;
    opacity: 0.7;
    z-index: 1;
}

@media (hover:hover) {
    .ir_arriba_fixed:hover {
        opacity: 1;
    }
}

.ir_arriba_fixed a img {
    /*tamaño img*/
    max-width: 7vh;
}



/*------------------------------------------------------*/
/*TAMAÑO CELULAR*/
@media only screen and (width<=650px) {

    .header h1 {
        font-size: 6vw;
    }

    .header img {
        width: 4vh;
    }

    /*TAMAÑOS ICONOS*/
    .carro-mob {
        display: contents;
    }

    .carro-2xl {
        display: none;
    }

    /* PROMO */
    .promo-mobile {
        display: none;
    }

    /* NAVEGACION*/
    .nav-mobile {
        visibility: visible;
        z-index: 1;
    }

    .nav-desktop {
        display: none;
    }

    .ir_arriba_fixed {
        visibility: hidden;
    }

    /* BUSQUEDA */
    .busqueda-main,
    .busqueda-input,
    .busqueda-main a img {
        display: none;
    }


    /* PRODUCTOS */

    .productos {
        justify-content: space-around;
        align-items: center;
        font-size: 2.6vw;
    }

    .productos-card {
        padding-bottom: 4vh;
    }

    .productos-card img {
        max-height: 18vh;
        margin: 20px 0px 0px 0px;
    }

    .productos-nombre {
        margin-top: 0px;
        font-size: 0.8rem;
    }

    .productos-descuento h6 {
        font-size: 3vw;
    }

    .productos-descuento p {
        font-size: 3vw;
    }

    .productos-boton,
    .productos-btn {
        font-size: 2.6vw;
    }

    /*TARJETAS */
    .tarjetas {
        margin: 10vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tarjetas li {
        font-size: 2vw;
        max-width: 50vh;
        max-height: 100px;
        margin: 0vh 3vh 0vh 3vh;
        text-align: center;
    }

    /* OFERTAS */
    .subtitulos {
        font-size: 6vw;
    }

    /* MAP */
    .map-iframe {
        width: 90vw;
        margin-bottom: 5vh;
    }

    /* FOOTER */
    footer {
        padding: 0;
        justify-items: center;
        align-items: center;
        font-size: 10px;
    }

    .footer {
        display: flex;
        padding: 10vh 0px;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;
    }

    .footer-social li {
        display: grid;
    }


    .footer h4,
    .footer ul h4,
    .footer ul li h4 {
        font-size: 12px;
    }

    .footer-pago img {
        margin: 10px 0px;
        width: 80%;
    }
}

/*TAMAÑO TABLET*/

@media only screen and (650px<=width<=786px) {
    .header h1 {
        font-size: 2rem;
    }

    .map-iframe {
        width: 75vw;
    }

    .busqueda-main,
    .busqueda-input,
    .busqueda-main a img {
        display: none;
    }
}

@media only screen and (width<=1024px) {
    .busqueda-main input {
        padding: 1.2vw 1.5vw;
    }
}