/* 
Paleta de colores 
Violeta: #a22ed0
Celeste: #3698DB
Naranja: #ee8d48
*/


/*---------------------------------------------------------------------------------------------------------*/
/* ELEMENTOS GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

/*---------------------------------------------------------------------------------------------------------*/

/* HEADER */

header .promo {

    /*hacer animacion de derecha a izquierda y en loop*/
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

/*LOGO TITULO CARRITO*/
.inicio {
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 2vw 0px 2vw;
}

.inicio img {
    margin-top: 1vh;
    max-width: 10vh;
    width: calc(4vh+4vw);
}

.inicio h1 {
    color: #a22ed0;
    font-size: calc(2vh + 1vw);
}

.inicio a {
    color: black;
    text-decoration: none;
}

/*---------------------------------------------------------------------------------------------------------*/
/* NAVEGACION */
.navegacion {
    font-size: calc(1vh + 1vw);
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navegacion li a {
    color: black;
    text-decoration: none;
    padding: 0px 2vh 0px 5vh;
}


/*---------------------------------------------------------------------------------------------------------*/
/* SLIDER */
.slider img {
    /* 
    hacer animación para que desaparezca uno y aparezca el proximo
    Desktop: 1600x550
    Mobile: 800x600
    */
    width: 100vw;
}


/*---------------------------------------------------------------------------------------------------------*/
/* TARJETAS Y ENVIOS */
.tarjetas {
    margin: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjetas li {
    width: 100vh;
    height: 200px;
    margin: 0vh 3vh 0vh 3vh;
    text-align: center;
}

.tarjetas li img {
    max-width: 15vw;
    width: calc(6vw+3vh);
}

.tarjetas li h4 {
    margin-top: 1vw;
    margin-bottom: 0.5vw;
}




/*---------------------------------------------------------------------------------------------------------*/
/* MAPA */
.bus {
    max-width: 15vh;
}

/*---------------------------------------------------------------------------------------------------------*/
/* FOOTER */

footer {
    background-color: lightslategray;
}

.footer-social li a {
    color: black;
    text-decoration: none;
}

/*---------------------------------------------------------------------------------------------------------*/
/*HOME FIXED*/
.ir_arriba_fixed {
    /*lo ponemos abajo a la derecha*/
    position: fixed;
    bottom: 0;
    right: 0;
    /*margenes*/
    margin-bottom: 5vh;
    margin-right: 5vh;
}

.ir_arriba_fixed a img {
    /*tamaño img*/
    max-width: 8vh;
}