/* 
Paleta de colores 
Violeta: a22ed0
Celeste: 2ad2d3
Naranja: ee8d48
Verde:   bfe760  
*/

/* Ver como hacer un slider
.slider {
    aspect-ratio: 10/16;
    width: 300px;
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}
.slider img {
    width: 100%;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align: center;
}
*/

header .promo {
    background-color: black;
    color: white;
}

h1 {
    font-size: larger;
}

.navegacion {
    background-color: #a22ed0;
}

a {
    text-decoration: none;
}

ul {
    text-decoration: none;
}

.slider {
    max-width: fit-content;
    width: 300px;
}